### Q2. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [1]:
def checks_two_number_divisible(num1,num2):
    if num1%num2==0:
        print('Two number is divisible')
    else: 
        print('Two Number not divisible')
number1=int(input('Enter the first number'))
number2=int(input('Enter the second number'))
checks_two_number_divisible(num1=number1,num2=number2)

Two number is divisible

### Q3. Write a program to print the first five odd numbers.

In [2]:
for i in range(10):
    if i % 2 !=0:
        print(i)

1
3
5
7
9

### Q4. Create a list of numbers and write a program to find the sum of all elements in the list.

In [3]:
numList=[1,2,3,4,10,5,6]
#first way 
print(sum(numList))

31

In [4]:
#second way
def Sum(n):
    totel=0
    for i in n:
        totel+=i
    return totel
print(Sum(numList))

31

### Q5. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [6]:
year=int(input('Enter Your Year Number'))
if (year %4==0):
    if(year%100==0):
        if (year%400==0):
            print('it\'s a leap year')
        else:
            print('it\'s not leap year')
    else:
         print('it\'s a leap year')
else:
    print('it\'s not leap year')

it's not leap year

### Q6. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [5]:
string=input('Enter Your String')
print(string.upper())
print(string.lower())
print(string.title())
print(string.capitalize())

MOHMED
mohmed
Mohmed
Mohmed

### Q7. Create a list of five elements and remove the third element.

In [6]:
numList=[1,2,3,4,10,5,6]

def remove_element(List,index ):
    List.remove(index)

remove_element(numList,2)
print(numList)

[1, 3, 4, 10, 5, 6]

### Q9. Create a list of numbers and write a program to sort it in ascending order.

In [7]:

def sort_element_1(List):
    sortedList=[]   
    while len(List)>0:
        if(len(List)==1):
            sortedList.append(List[0])
            return sortedList
        else:
            sortedList.append(min(List))
            List.remove(min(List))


numList=[11,22,13,44,10,25,56]
print(sort_element_1(numList))

[10, 11, 13, 22, 25, 44, 56]

### Q10. Write a program to print the multiplication table of a given number.

In [8]:
num1=int(input('Enter Your Number'))
for i in range(13):
    print(f'{num1} * {i} = ',i*num1)

4 * 0 =  0
4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40
4 * 11 =  44
4 * 12 =  48

### Q11. Write a Python function square(num) that takes a number as input and returns its square.

In [9]:
import math as m
def square_element(num):
    return m.sqrt(num)
number=int(input('Enter Your Number'))
print(square_element(number))

1.7320508075688772

### Q12. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [10]:
def sum_digits(n):
    totel=0
    while (n/10)>1:
        totel+=n%10
        n//=10
    else:
        return totel+n
    
number=int(input('Enter You Number'))
print(sum_digits(number))

5

### Q13. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [11]:
def reverse_string(n):
    reverse=''
    for i in n:
        reverse=i+reverse
    return reverse

s=input('Enter Your String')
reverse_string(s)

'6'

### Q14. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [12]:
def word_count(s):
    to=0
    for i in s:
        to+=1
    return to
st=input('Enter You String')
word_count(st)

1

### Q15. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [13]:
def remove_elements(lst,n):
     lst.pop(n)

ls=['moahmed','ali','ahmed','abdullah']
remove_elements(ls,2)
print(ls)

['moahmed', 'ali', 'abdullah']

### Q16. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [14]:
def duplicate_list(lst):
    return lst*2

original_list = [1, 2, 3]
duplicated_list = duplicate_list(original_list)
print(duplicated_list)

[1, 2, 3, 1, 2, 3]

### Q17. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [15]:
def checks_two_number_divisible(num1,num2):
    if num1%num2==0:
        return True
    else: 
        return False
number1=int(input('Enter the first number'))
number2=int(input('Enter the second number'))
checks_two_number_divisible(num1=number1,num2=number2)

False

### Q18. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [16]:
def power(base, exponent):
    return base**exponent
num1=int(input('Enter Your Number'))
num2=int(input('Enter Your Number'))
power(num1,num2)

625

### Q19. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [17]:
for i in range(2000,3000):
    if i%7==0 and i%5!=0:
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

### 20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [18]:
def factoral(n):
    if n==0:
        return 1
    else:
        return n*factoral(n-1)

number=[int(x)for x in input('Enter Your Number').split(',')]
factorals = [factoral(num) for num in number]
for i in factorals:
    print(i,end=',')

6,

### 21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [19]:
num=int(input('Enter Your Number'))
dic={i:i**2 for i in range(1,num+1)}
print(dic)

{1: 1, 2: 4, 3: 9}

### 22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [20]:
str_list=[i for i in input('Enter Your Input').split(',')]
str_tuple=tuple(str_list)
print(str_list)
print(str_tuple)

['6']
('6',)

### 23. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

In [22]:
import math
def square_root(d):
    c=50
    h=30
    return math.sqrt( (2*c*d)/h )

num_list=[int(x)for x in input('Enter Your Number ').split(',')]
q_list=[int(square_root(i))for i in num_list]

print(','.join(map(str,q_list)))

18,22,24

### 24. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [28]:
x=int(input('Enter X value'))
y=int(input('Enter Y value'))
array=[]
for i in range(y):
    re=[]
    for j in range(x):
        re.append(i*j)
    array.append(re)
print(array)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 25. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

In [44]:
string = [i for i in input('Enter Your Keyword').split(' ')]
string=set(string)
string=list(string)
string.sort()
print(' '.join(string))

again and hello makes perfect practice world

### 26.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

In [50]:
def check_binary_list(li):
    for i in li:
        if len(i)==4:
            nu=int(i,2)
            if nu%5==0:
                print(i)
        else:
            print(f'{i} this not equal 4 digit binary')

binary_list=[i for i in input('Enter Binary Number').split(',')]
check_binary_list(binary_list)

1010

### 27. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

In [54]:
def check_even_digit(n):
    for i in str(n):
        if int(i)%2!=0:
            return False
    return True

result=[]
for num in range(1000,3001):
    if check_even_digit(num):
        result.append(str(num))

print(','.join(result))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

### 28. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

In [55]:
def ckeck_letter_digit(input):
    letter=0
    digits=0
    for char in input:
        if char.isalpha():
            letter+=1
        elif char.isdigit():
            digits+=1
    return letter,digits

input_string=input('Enter Your String')
letter,digits=ckeck_letter_digit(input_string)

print(f'LETTERS {letter}')
print(f'DIGITS {digits}')

LETTERS 10
DIGITS 3

### 29. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

In [57]:
def check_upper_lower(input):
    Upper=0
    Lower=0
    for char in input:
        if char.isupper():
            Upper+=1
        elif char.islower():
            Lower+=1
    return Upper,Lower
input_string=input('Enter Your Number')
upper,lower=check_upper_lower(input_string)
print(f'UPPER CASE {upper}')
print(f'LOWER CASE {lower}')

UPPER CASE 3
LOWER CASE 7

### 30. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,9,25,49,81

In [64]:

input_list=[int(i) for i in input('Enter Your Lis').split(',')]
odd_list=list(filter(lambda x:x%2==1,input_list))
squar_odd_list= [i**2 for i in odd_list]
print(squar_odd_list)

[1, 9, 25, 49, 81]

### 31. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [1]:
from operator import itemgetter
list_tuple=[('Tom',19,80),('John',20,90),('Jony',17,91),('Jony',17,93),('Json',21,85)]
print(sorted(list_tuple,key=itemgetter(0,1,2)))

[('John', 20, 90), ('Jony', 17, 91), ('Jony', 17, 93), ('Json', 21, 85), ('Tom', 19, 80)]

### 32. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [66]:
def check_even_odd(num):
    if num%2==0:
        print('It Is An Even Number')
    else:
        print('It is An Odd Number')
number=int(input('Enter Your Number'))
check_even_odd(number)

It is An Odd Number

### 33.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8

In [10]:
#using yield
def fib(n):
    a=0
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b 
        

for i in fib(7):
    print(i,end=' ')

0 1 1 2 3 5 8

In [11]:
#using return
def fib1(n):
    a=0
    b=1
    result=[]
    for i in range(n):
        result.append(a)
        a,b=b,a+b
    return result
print(fib1(7))

[0, 1, 1, 2, 3, 5, 8]

### 47. Create a tuple with three elements and unpack it into three variables.

### 48. Create a dictionary representing a person with keys "name," "age," and "city."

In [23]:
dic={'name':'mohamed','age':22,'city':'cairo'}
print(dic)

{'name': 'mohamed', 'age': 22, 'city': 'cairo'}

### 49. Access and print the value associated with the "age" key in the dictionary

In [14]:
print(dic['age'])

22

### 50. Update the age in the dictionary to a new value.

In [15]:
dic['age']=52
print(dic)

{'name': 'mohamed', 'age': 52, 'city': 'cairo'}

### 51. Iterate through the keys and values in the dictionary and print them.

In [19]:
for i, j in dic.items():
    print('key :',i,'value :',j)
    print('------------------------')

key : name value : mohamed
------------------------
key : age value : 52
------------------------
key : city value : cairo
------------------------

### 52. Find and print the number of key-value pairs in the dictionary.

In [20]:
print(len(dic))

3

### 53. Remove the "city" key from the dictionary.

In [24]:
del(dic['city'])
print(dic)

{'name': 'mohamed', 'age': 22}

### 54. Check if the "gender" key exists in the dictionary and print the result.

### 55. Create a second dictionary with additional information and merge it with the original dictionary.

In [30]:
se_dic={'phone':'01222','gender':'male'}
for i,j in se_dic.items():
    dic[i]=j
print(dic)

{'name': 'mohamed', 'age': 22, 'phone': '01222', 'gender': 'male'}

### 56. Write a program to get the keys of the dictionary as a list.

In [31]:
key_dic=list(dic.keys())
print(key_dic)

['name', 'age', 'phone', 'gender']

### 57. Write a program to get the values of the dictionary as a list.

In [32]:
value_dic=list(dic.values())
print(value_dic)

['mohamed', 22, '01222', 'male']

### 58. Remove the key-value pair with the "name" key from the dictionary.

In [33]:
del(dic['name'])
print(dic)

{'age': 22, 'phone': '01222', 'gender': 'male'}

### 59. Clear all items from the dictionary.

In [34]:
del(dic)
print(dic)
# this error because i print(dic ) after i delete it

NameError: name 'dic' is not defined

### 60. Write a program to print the dictionary keys in sorted order.

In [43]:
dic={'name':'mohamd','age':'22','city':'cairo','phone':'011','geneder':'male'}
key_dic=list(dic.keys())
print(sorted(key_dic))

['age', 'city', 'geneder', 'name', 'phone']

### 61. Write a program to print the dictionary values in sorted order.

In [44]:
value_dic=list(dic.values())
print(sorted(value_dic))

['011', '22', 'cairo', 'male', 'mohamd']

### 62. Find and print the key with the maximum value in the dictionary.

In [8]:
data = {
    'a': 10,
    'b': 50,
    'c': 30,
    'd': 40
}
max_key=max(data,key=data.get)
print(max_key)

b

### 63. Find and print the key with the minimum value in the dictionary.

In [48]:
min_key=min(data,key=data.get)
print(min_key)

a

### 64. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

In [11]:
dic_squares={x:x**2 for x in range(1,6)}
print(dic_squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 65. Swap the keys and values in the dictionary and print the result.

In [12]:
print(dic_squares)
swap_dic_squares={}
for i,j in dic_squares.items():
    swap_dic_squares[j]=i
print(swap_dic_squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

### 66. Create a list of integers with values 1 to 5.

In [22]:
nu_list=list(i for i in range(1,6))
print(nu_list)

[1, 2, 3, 4, 5]

### 67. Access and print the third element of the list.

In [16]:
print(nu_list[2])

3

### 68. Modify the second element of the list to have a new value.

In [17]:
nu_list[1]='mohamed'
print(nu_list)

[1, 'mohamed', 3, 4, 5]

### 69. Find and print the number of elements in the list.

In [18]:
number_of_element=len(nu_list)
print(number_of_element)

5

### 70. Add a new element to the end of the list.

In [23]:
nu_list.append(100)
print(nu_list)

[1, 2, 3, 4, 5, 100]

### 71. Create two lists and concatenate them into a new list.

In [26]:
list1=['moahmed','ali','ahmed']
list2=[100,200,300]
list1.extend(list2)
print(list1)

['moahmed', 'ali', 'ahmed', 100, 200, 300]

### 72. Repeat the list three times and print the result.

In [38]:
dic_list=['mohamed','ali',22,52,'ahmed']*3
print(dic_list)

['mohamed', 'ali', 22, 52, 'ahmed', 'mohamed', 'ali', 22, 52, 'ahmed', 'mohamed', 'ali', 22, 52, 'ahmed']

### 73. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

In [34]:
nu_list=list(i for i in range(1,11))
print(nu_list[3:7])

[4, 5, 6, 7]

### 74. Use a loop to print each element of the list.

In [37]:
for i in nu_list:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

### 75. Write a program to sort the list in ascending order.

In [55]:
list1=['mohamed','ali','ahmed','abdo','wahed','hany']
list1.sort()
print(list1)

['abdo', 'ahmed', 'ali', 'hany', 'mohamed', 'wahed']

### 76. Reverse the order of elements in the list.

In [47]:
#frist  way
print(list1[::-1])
#second way
list1.reverse()
print(list1)

['wahed', 'mohamed', 'hany', 'ali', 'ahmed', 'abdo']
['wahed', 'mohamed', 'hany', 'ali', 'ahmed', 'abdo']

### 77. Remove the third element from the list.

In [49]:
del(list1[2])
print(list1)
#delete 'hany'

['wahed', 'mohamed', 'ali', 'ahmed', 'abdo']

### 78. Clear all elements from the list.

In [58]:
#first  way
list1=[]
print(list1)
#second way
list1.clear()
print(list1)

[]

### 79. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [59]:
list_squares=list(i**2 for i in range(1,6))
print(list_squares)

[1, 4, 9, 16, 25]

### 80. Create a list with three elements and unpack it into three variables.

In [61]:
list1=['mohamed','ali','ahmed']
first,second,thried=list1
print('first  element :',first)
print('second element :',second)
print('thried element :',thried)

first  element : mohamed
second element : ali
thried element : ahmed